/* list lesson  */
#card-lesson {
    background-color: rgb(249, 249, 249);
    padding: 30px 30px;
}

#card-lesson .row {
    margin-left: -30px;
    margin-right: -30px;
}

#card-lesson .list-lesson {
    padding: 20px 20px;
}

#card-lesson .list-lesson .item-lesson {
    padding: 20px 15px;
    /* margin-right: 15px;
    margin-bottom: 25px;   */
    margin: 15px;
    border-bottom: 0.25rem solid #fff;
    background-color: #fff;
}

#card-lesson .list-lesson .item-lesson:hover,
#card-lesson .list-lesson .item-lesson:active {
    border-bottom: 0.25rem solid #ffcd1f;
}

#card-lesson .list-lesson .item-lesson .title-lesson {
    display: inline;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.2;
}

#card-lesson .list-lesson .item-lesson .title-lesson-count {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.285714285714286;
}