h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.3;
    font-weight: 700;
}

p {
    font-family: "Raleway", sans-serif;
    color: #5a5a5a;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 400;
}

/* a,
a:hover,
a:focus {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-decoration: none;
    outline: 0 solid transparent;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
    font-size: 14px;
} */

ul,
ol {
    margin: 0;
}

ul li,
ol li {
    list-style: none;
}

img {
    height: auto;
    max-width: 100%;
}


/* header */
.header-area {
    /* position: relative; */
    height: 60px;
    background-color: #ffffff;
    z-index: 200;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.nav-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.clever-main-menu {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 80px;
}

.clever-main-menu .classy-navbar {
    height: 80px;
}

.clever-main-menu .classynav ul li a {
    color: rgba(0, 0, 0, 0.45);
    font-weight: 600;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .clever-main-menu .classynav ul li a {
        padding: 0 8px;
    }
}

.clever-main-menu .classynav ul li a:hover,
.clever-main-menu .classynav ul li a:focus {
    color: rgba(0, 0, 0, 0.8);
}

.clever-main-menu .search-area {
    position: relative;
    z-index: 1;
}

.clever-main-menu .search-area form {
    position: relative;
    z-index: 10;
    width: 230px;
    height: 40px;
    margin: 0 50px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .clever-main-menu .search-area form {
        width: 170px;
        margin: 0 15px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .clever-main-menu .search-area form {
        margin: 15px auto;
    }
}

@media only screen and (max-width: 767px) {
    .clever-main-menu .search-area form {
        margin: 15px auto;
    }
}

.clever-main-menu .search-area form input {
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #ebebeb;
    padding: 0 15px 0 50px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.35);
    font-weight: 600;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.clever-main-menu .search-area form input:focus {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.clever-main-menu .search-area form button {
    position: absolute;
    width: 50px;
    height: 40px;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: 10;
    border: none;
    text-align: center;
    cursor: pointer;
    outline: none;
}

.is-sticky .clever-main-menu {
    z-index: 1500 !important;
    background-color: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.register-login-area {
    position: relative;
    z-index: 1;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .register-login-area {
        text-align: center;
    }
}

@media only screen and (max-width: 767px) {
    .register-login-area {
        text-align: center;
    }
}

.register-login-area a {
    position: relative;
    display: inline-block;
    padding: 0 20px;
    height: 40px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    color: #3762f0;
    line-height: 40px;
}

.register-login-area a.active,
.register-login-area a:hover,
.register-login-area a:focus {
    background-color: #d7e0fc;
    font-weight: 600;
    color: #3762f0;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .register-login-area a {
        padding: 0 15px;
    }
}

/* area list course */
/* Section Heading */
.section-heading {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    text-align: left;
}

.section-heading h3 {
    font-size: 30px;
    margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
    .section-heading h3 {
        font-size: 24px;
    }
}

.section-heading.text-left {
    text-align: left !important;
}

.section-heading.white h3 {
    color: #ffffff;
}

/* popular-courses-area */
.popular-courses-area {
    position: relative;
    z-index: 1;
    background-repeat: repeat;
    padding-top: 80px;
    background: url(../assets/images/texture.png)
}

.single-popular-course {
    position: relative;
    z-index: 1;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    background-color: #ffffff;
    margin-bottom: 40px;
    cursor: pointer;
    transition: box-shadow 0.5s;
}

.single-popular-course:hover,
.single-popular-course:active {
    position: relative;
    z-index: 1;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.6);
    border-radius: 6px;
    background-color: #ffffff;
    margin-bottom: 40px;
    background: #fff;
    border-bottom: 0;
}

.single-popular-course img {
    display: block;
    width: 100%;
    border-radius: 6px 6px 0 0;
}

.single-popular-course .course-content {
    padding: 10px 25px;
}

.single-popular-course .course-content h4 {
    margin-bottom: 5px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    min-height: 2.6em;
    line-height: 1.3em;
}

.single-popular-course .course-content .meta {
    margin-bottom: 0px;
}

.single-popular-course .course-content .meta span {
    color: rgba(0, 0, 0, 0.4);
    font-size: 5px;
    margin-right: 10px;
}

.single-popular-course .course-content .meta a {
    color: rgba(0, 0, 0, 0.4);
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-right: 10px;
}

.single-popular-course .course-content .meta a:hover {
    color: #000;
}

.single-popular-course .course-content p {
    margin-bottom: 0;
    word-wrap: break-word;
    overflow: hidden;
    min-height: 2.6em;
    line-height: 1.3em;
}

.single-popular-course .seat-rating-fee {
    width: 100%;
    height: 40px;
    background-color: #f7f7f7;
    border-radius: 0 0 6px 6px;
}

.single-popular-course .seat-rating-fee .seat-rating {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3);
    font-weight: 600;
    height: 100%;
}

.single-popular-course .seat-rating-fee .seat-rating div {
    padding: 0 20px;
    border-right: 1px solid #ebebeb;
    height: 100%;
    line-height: 40px;
}

.single-popular-course .seat-rating-fee .seat-rating i {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.3);
}

.single-popular-course .seat-rating-fee .course-fee a {
    display: inline-block;
    width: 70px;
    height: 40px;
    border-radius: 0 0 6px 0;
    background-color: #e3d21b;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 0.75px;
}

.single-popular-course .seat-rating-fee .course-fee a.free {
    background-color: #3762f0;
}