.cover-course {
    position: relative;
    margin-bottom: 95px;
    background: url(https://d1nzpkv5wwh1xf.cloudfront.net/640/k-57b67d6e60af25054a055b20/20170817-tungnt9image1708/thanhtd02.png) no-repeat;
    height: 350px;
    background-position: top center;
    background-size: cover;
}

.course-learning-info {
    position: absolute;
    left: 50%;
    padding: 9px;
    border-radius: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    bottom: -75px;
    background: white;
    box-shadow: 0px 4px 14px 0px rgba(0,0,0,0.12);
}

.course-learning-info .info-progress {
    width: 132px;
    position: relative;
}

.course-learning-info .info-progress .progressbar-text {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 0px;
    margin: 0px;
    transform: translate(-50%, -50%);
    color: rgb(70, 70, 70);
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 28px;
}

.detail-course-name {
    padding: 30px 0 20px 0;
    margin-top: 0px;
}

.infor-video {
    padding: 15px;
    margin-bottom: 15px;
    background-color: #ffffff;
}

.infor-video:hover,
.infor-video:active {
    padding: 15px;
    position: relative;
    z-index: 1;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: #ffffff;
    margin-bottom: 15px;
    border-bottom: 0;
}

.infor-video .status-video {
    font-size: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.infor-video .title-video {
    padding-right: 20px;
    padding-left: 10px; 
    font-weight: 400;
}

.infor-video .title-video h6 {
    font-size: 14px;
    color: #464646;
    margin: 0;
    padding-bottom: 5px;
}

.infor-video .lesson-time{
    float: right;
}

/* learning content */
.learning-content{
    overflow: hidden;
}

.learning-content .lecture-player {
    background-color: #2C2F37;
    top: 0;
    bottom: 0;
    position: absolute;
    height: 100%;
}

.learning-content .lecture-player .lecture-player-header {
    padding: 15px 0;
    position: relative;
}

.learning-content .btn-pre {
    padding-bottom: 15px;
    padding-right: 15px;
    cursor: pointer;
    color: #ffffff
}

.learning-content .btn-next{
    padding-bottom: 15px;
    padding-right: 15px;
    cursor: pointer;
    color: #ffffff
}

.learning-content .icon {
    position: relative;
    margin-right: 6px;
    width: 40px;
    height: 40px;
    background-color: #464646;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -o-border-radius: 40px;
    display: inline-block;
    font-size: 15px;
}

.learning-content .icon:hover,
.learning-content .icon:active {
    background-color: #a7a7a7;
}

.learning-content .lecture-container {
    overflow: scroll;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    height: 100%;
    float: right;
}

.learning-content .lecture-container .item-video-learn {
    cursor: pointer;
}

.learning-content .lecture-container .item-video-learn:hover,
.learning-content .lecture-container .item-video-learn:active {
    background-color: #e6e6e6
}