.container-fluid{
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
}

.UIlink {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none !important;
    cursor: pointer;
    display: inline;
    font: inherit;
    outline: none;
    padding: 0;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.285714285714286;
    font-weight: 600;
    transition: all 120ms cubic-bezier(0.47,0,0.745,0.715);
}

.navbar {
    padding-top: 1rem !important;
    margin-bottom: 0;
    background-color: #4257b2;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    height: 5rem;
}

/* navbrand */
.navbar .navbar-brand {
    color: #fff;
    font-size: 38px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* btn login */
.navbar ul li a {
    padding: 10px;
    color: white;
    background-color: transparent;
    border-color: transparent;
}

.navbar ul li a:hover, 
.navbar ul li a:active{
    color: #3ccfcf;
    background-color: transparent;
    border-color: transparent;
}

/* sidebar */
.mode-controls {
    bottom: 0;
    display: block;
    position: fixed;
    top: 60px;
    background-color: aqua;
    z-index: 2;
    width: 12.1875rem;
    max-height: 100vh;
}

.mode-controls .controls-sidebar {
    background: #fff;
    box-shadow: 0.3125rem 0 1.25rem 0 rgba(0,0,0,0.28);
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    max-height: 100vh;
}

.mode-controls .controls-sidebar .sidebar-back {
    border-bottom: 1px solid #f0f0f0;
    padding: 0.5rem 1rem;
    min-height: 2.5rem;
}

.sidebar-back .UIlink {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    min-height: 2.5rem;
}

.sidebar-back .UIlink:hover{
    border-bottom: none;
}

.sidebar-back .sidebar-backText {
    color: #455358;
    margin-left: 0.5rem;
    text-align: left;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.285714285714286;
}

.mode-controls .controls-sidebar .sidebar-main{
    padding: 1rem;
    top: 3.75rem !important;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.sidebar-main-name {
    font-weight: 700;
    font-size: 0.875rem;
    letter-spacing: 0.1875rem;
    line-height: 1.214285714285714;
    margin: 1.5rem 0 2.5rem;
}

.sidebar-main-progress {
    padding: 40x 10px;
    margin-top: 50px;
    width: 100%;
    height: auto;
    background-color: #fff;
    color: #455358;
}

.sidebar-main-progress .count-vocab-learn {
    margin-top: 2.5rem;
    color: #455358;
}

/* content  */
.mode-content {
    margin-left: 13rem;
    padding: 0 40px 40px 40px;
    /* max-height: 38rem; */
    position: relative;
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 1.266666666666667;
    /* //overflow: auto; */
    flex: 1;
}

/* type learn */
.type-learn {
    /* display: none; */
    margin-top: 20px;
}

.type-learn .image-question{
    width: 100%;
    height: 200px;
}   

.type-learn .choose-answer-question {
    margin-top: 2rem;
    margin-left: -10px;
}

.type-learn .choose-answer-question .answer {
    cursor: pointer;
    border: 1.5px solid rgb(60, 207, 207);
    font-size: 1rem;
}

.type-learn .choose-answer-question .answer:hover,
.type-learn .choose-answer-question .answer:active {
    cursor: pointer;
     border: 1.5px solid #ffcd1f;
    font-size: 1rem;
}

.type-learn .question-notify {
    margin-top: 2rem;
}

.type-learn .question-notify .btn-continue {
    color: #fff;
    border: none;
}

.type-learn .question-notify .btn-continue:hover,
.type-learn .question-notify .btn-continue:active {
    background-color: #ffcd1f;
    color: #000;
    border: none;
}

/* type write */

.type-write{
    /* display: none; */
    margin-top: 20px;
}

.type-write #title-vocabulary{
    font-weight: normal !important;
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 1.266666666666667;
}

.type-write .btn-dont-know {
    color: #3ccfcf;
}

.type-write .btn-dont-know:hover,
.type-write .btn-dont-know:active {
    color: #ffcd1f;
}

/* type spell */
.type-spell {
    /* display: none; */
    margin-top: 20px;
}

.type-spell .play-audio {
    font-size: 2rem;
}

.type-spell .play-audio:hover,
.type-spell .play-audio:active{
    color: #ffcd1f;
}

.btn-answer {
    background-color: #3ccfcf;
    color: white; 
    border: none;
}

.btn-answer:hover,
.btn-answer:active {
    background-color: #ffcd1f;
    color: black; 
    border: none;
}
