.list-topic {
    padding-left: 50px;
}

.list-topic-header {
    background-color: #FFF;
    font-weight: 700;
    font-size: 2.375rem;
    padding-left: 45px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.topic-main {
    padding-top: 50px;
    background-color: #f0f0f0;
}

/* .item-topic .topic-header {
    display: table;
    padding-bottom: 1.25rem;
    vertical-align: middle;
} */

.item-topic .item-topic-title {
    font-weight: 600;
    /* text-transform: uppercase; */
    font-size: 20px;
    letter-spacing: 0.0625rem;
    line-height: 1.333333333333333;
    white-space: nowrap;  
    display: inline;  
    color: rgb(121, 134, 150);
    padding-right: 15px
}


.item-topic .icon-slide-lesson {
    font-size: 24px;
    padding: 10px;
    margin-right: 15px;
    cursor: pointer;
}

.item-topic .icon-slide-lesson:hover,
.item-topic .icon-slide-lesson:active {
    font-size: 24px;
    color: #ffcd1f
}

.item-lesson {
    cursor: pointer;
    box-shadow: 0 0.25rem 1.125rem 0 rgba(0,0,0,0.24);
    margin: 1rem 1rem 1.5rem 0;
    position: relative;
    top: 0rem;
    border-bottom: 0.25rem solid #f0f0f0;
}

.item-lesson:hover,
.item-lesson:active {
    border-bottom: 0.25rem solid #ffcd1f;
}

.img-lesson {
    width: 12.5rem;
    height: 11rem;
}

/* fix UI */
.lesson-area {
    position: relative;
    z-index: 1;
    background-repeat: repeat;
    padding-top: 80px;
    background: url(../assets/images/texture.png)
}

.single-lesson-item {
    position: relative;
    z-index: 1;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    background-color: #ffffff;
    margin-bottom: 40px;
    cursor: pointer;
    transition: box-shadow 0.5s;
}

.single-lesson-item {
    position: relative;
    z-index: 1;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    background-color: #ffffff;
    margin-bottom: 40px;
    cursor: pointer;
    transition: box-shadow 0.5s;
    border-bottom: 0.25rem solid #FFF;
}

.single-lesson-item:hover,
.single-lesson-item:active {
    position: relative;
    z-index: 1;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.6);
    border-radius: 6px;
    background-color: #ffffff;
    margin-bottom: 40px;
    background: #fff;
    border-bottom: 0.25rem solid #ffcd1f;
}

.single-lesson-item img {
    display: block;
    width: 100%;
    border-radius: 6px 6px 0 0;
}

.single-lesson-item .lesson-content {
    padding: 10px 25px;
}

.single-lesson-item .lesson-content h4 {
    margin-bottom: 0px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    min-height: 2.6em;
    line-height: 1.3em;
}

.single-lesson-item .lesson-content .meta {
    margin-bottom: 0px;
}

.single-lesson-item .lesson-content .meta span {
    color: rgba(0, 0, 0, 0.4);
    font-size: 5px;
    margin-right: 10px;
}

.single-lesson-item .lesson-content .meta a {
    color: rgba(0, 0, 0, 0.4);
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-right: 10px;
}

.single-lesson-item .lesson-content .meta a:hover {
    color: #000;
}

.single-lesson-item .lesson-content p {
    margin-bottom: 0;
    word-wrap: break-word;
    overflow: hidden;
    min-height: 2.6em;
    line-height: 1.3em;
}

.single-lesson-item .seat-rating-fee {
    width: 100%;
    height: 40px;
    background-color: #f7f7f7;
    border-radius: 0 0 6px 6px;
}

.single-lesson-item .seat-rating-fee .seat-rating {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3);
    font-weight: 600;
    height: 100%;
}

.single-lesson-item .seat-rating-fee .seat-rating div {
    padding: 0 20px;
    border-right: 1px solid #ebebeb;
    height: 100%;
    line-height: 40px;
}

.single-lesson-item .seat-rating-fee .seat-rating i {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.3);
}

.single-lesson-item .seat-rating-fee .course-fee a {
    display: inline-block;
    width: 70px;
    height: 40px;
    border-radius: 0 0 6px 0;
    background-color: #e3d21b;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 0.75px;
}

.single-lesson-item .seat-rating-fee .course-fee a.free {
    background-color: #3762f0;
}

/* Section Heading */
.section-heading {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    text-align: left;
}

.section-heading h3 {
    font-size: 30px;
    margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
    .section-heading h3 {
        font-size: 24px;
    }
}

.section-heading.text-left {
    text-align: left !important;
}

.section-heading.white h3 {
    color: #ffffff;
}