.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.current-quiz-process{
  position: fixed;
  width: 400px
}

.question-title{
  font-size: 18px;
  font-weight: normal;
}

.question-index{
  font-size: 20px;
  font-weight: 500;

}

.img-part1{
  width: 200px;
  height: 250px;
  margin-left: 200px;
}

.label-choice-part1{
  margin-right: 100px;
  font-size: 18px;
}

.label-choice-part2{
  margin-right: 100px;
  font-size: 18px;
}


.radio-part1{
  margin-top:10px;
}

.question-cart{
  margin-top: 15px
}

.group-title{
  margin-top: 20px;
}

.info-card{
  width: 100%;
}

.pagation-active{
  color: RED;
  background: #61dafb
}

.btn-cancel-submit{
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: -20px;
}

.btn-cancel-submit-modal{
  margin-left: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* Tungts Detail lesson */
html, body {
  color: #455358;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  line-height: 1.625;
  min-width: 720px;
}

.container-fluid{
  padding-top: 40px;
  padding-left: 0px;
  padding-right: 0px;
}

.navbar {
  padding-top: 1rem !important;
  margin-bottom: 0;
  background-color: #4257b2;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  height: 5rem;
}

/* navbrand */
.navbar .navbar-brand {
  color: #fff;
  font-size: 38px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* btn login */
.navbar ul li a {
  padding: 10px;
  color: white;
  background-color: transparent;
  border-color: transparent;
}

.navbar ul li a:hover, 
.navbar ul li a:active{
  color: #3ccfcf;
  background-color: transparent;
  border-color: transparent;
}

/* btn register */
.btn-register:hover, .btn-register:active {
  background-color: #ffcd1f;
  color: black;
}

/* header lesson infor */
.lesson-infor {
  padding-left: 40px;
  padding-right: 40px; 
}

.lesson-infor .lesson-vocabCount {
  padding-left: 10px;
  padding-right: 10px; 
  float: left;
  line-height: 1.625rem !important;
  font-weight: 600;
  font-size: 0.875rem;
}

.lesson-infor .lesson-name {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.142857142857143;
}

/* menu study */
.menu-study {
  background: #fff;
  line-height: 0;
  padding-top: 2rem;
  position: relative;
}

.menu-study .menu-study-bottom {
  background: #f0f0f0;
  bottom: 0;
  height: 4rem;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 2;
}

.menu-study-type {
  padding-left: 50px;
  padding-top: 10px;
  position: relative;
  z-index: 99;
}

.menu-study-item {
  cursor: pointer;
  display: inline-block;
  height: 8.75rem;
  margin-bottom: 0.5rem;
  margin-right: 0.625rem;
  margin-top: 5px !important;
  padding-top: 10px;
  width: 8.375rem;
}

.menu-study-item:hover,
.menu-study-item:visited {
  cursor: pointer;
  color: #ffcd1f;
}

#card-item {
  height: 8.75rem;
  width: 100%;
  text-align: center;
  color: #3ccfcf;
  border-bottom: 0.25rem solid #3ccfcf;
}

#card-item:hover,
#card-item:active {
  color: #ffcd1f;
  border-bottom: 0.25rem solid #ffcd1f;
} 

.is-highlighted{
  color: #ffcd1f;
  border-bottom: 0.25rem solid #ffcd1f;
}

#card-item .icon-menu-study {
  color: #4257b2;
  font-size: 45px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.menu-study-item #card-item .item-name {
  bottom: 2px;
  letter-spacing: 1px !important;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0.1875rem;
  line-height: 1.214285714285714;
}

/* main include flash card, detail vocab*/
.bg-main {
  background-color: #f0f0f0;
  height: 100%;
  width: 100%;
}

/* vocab-in-lesson */
.list-vocab-in-lesson{
  padding-top: 40px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
}

.title-list-vocab{
  color: #23b26d;
  font-size: 1.75rem;
  padding-bottom: 10px;
}

.list-vocab .row {
  margin-left: 0px;
  margin-right: 0px;
}

.item-vocab {
  background: #fff;
  min-height: 5rem;
  padding: 20px 20px 10px 20px;
  margin-bottom: 15px;
}

.item-vocab .score-vocab {
  font-size: 1.5rem;
  color: #23b26d;
}

.item-vocab .content-vocab .vocab-en {
  color: #0096e0;
}

.item-vocab .content-vocab .vocab-pronun {
  color: #FF4081;
}

.item-vocab .content-vocab .vocab-explantion {
  color: #32c460;
}

.source-vocab .play-audio {
  font-size: 1.5rem;
  cursor: pointer;
}

.source-vocab .play-audio:hover,
.source-vocab .play-audio:active{
  font-size: 1.5rem;
  color: #ffcd1f;
  cursor: pointer;
}

.source-vocab .star-vocab {
  font-size: 1.5rem;
  cursor: pointer;
}

.source-vocab .star-vocab-favorite {
  font-size: 1.5rem;
  color: #ffcd1f;
  cursor: pointer;
}

.source-vocab .star-vocab-favorite:hover,
.source-vocab .star-vocab-favorite:active{
  font-size: 1.5rem;
  color: #ffdf6d;
  cursor: pointer;
}

.source-vocab .star-vocab:hover,
.source-vocab .star-vocab:active{
  font-size: 1.5rem;
  color: #ffcd1f;
  cursor: pointer;
}

/* Home page css */
