.video_post {
    padding: 15px;
}

.video_post .inner {
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.09);
    background: #fff;
    border-bottom: 0;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.video_post .inner:hover,
.video_post .inner:focus {
    -webkit-transform: translate(0, -8px);
    -moz-transform: translate(0, -8px);
    -ms-transform: translate(0, -8px);
    -o-transform: translate(0, -8px);
    transform: translate(0, -8px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.16);
}

.video_post .inner .screencast {
    position: relative;
}

.video_post .inner .screencast .play_btn {
    position: absolute;
    width: 48px;
    height: 33px;
    background: url(../scss/all/icons/play-btn.png) no-repeat scroll 0 0;
    top: calc(50% - 16.5px);
    left: calc(50% - 24px);
}

.video_post .inner .screencast .media-length {
    position: absolute;
    background: #4aa3df;
    line-height: 20px;
    font-size: 12px;
    padding: 0 5px;
    left: 0;
    bottom: 0;
    color: #fff;
}

.video_post .inner .post_data {
    padding: 12px 15px;
    padding-bottom: 25px;
}

.video_post .inner .post_data .post_title {
    font-weight: 600;
    line-height: 22px;
    color: #43494e;
}

.video_post .inner .post_data .author,
.video_post .inner .post_data .date {
    color: #43494e;
    font-size: 12px;
    font-weight: 600;
}

.video_post .inner .post_data .author a,
.video_post .inner .post_data .date a {
    color: #43494e;
}

.video_post .inner .post_data .author {
    margin-right: 30px;
}

.video_post .inner .post_data .category,
.video_post .inner .post_data .views {
    display: block;
}

.video_post .inner .post_data .category a,
.video_post .inner .post_data .views a {
    color: #43494e;
    font-size: 12px;
    font-weight: 600;
    display: block;
    padding: 10px 0px;
    white-space: nowrap;
}

.video_post .inner .post_data .category a img,
.video_post .inner .post_data .views a img {
    margin-right: 5px;
}

.video_post .inner .post_data .views a {
    padding: 0;
}

.video_post .inner .post_data .post_title {
    font-size: 20px;
    display: block;
    padding-bottom: 15px;
}

.video_post .inner .views {
    margin-left: 1px;
    text-align: right;
}

.video_post .inner .taxonomy .category {
    margin-right: 1px;
}

.video_post .inner .taxonomy .category,
.video_post .inner .taxonomy .views {
    width: calc(50% - 1px);
}

.video_post .inner .taxonomy .category a,
.video_post .inner .taxonomy .views a {
    background: #f1f4f5;
    color: #43494e;
    font-size: 12px;
    font-weight: 600;
    display: block;
    padding: 12px 15px;
    min-height: 43px;
    white-space: nowrap;
}

.video_post .inner .taxonomy .category a img,
.video_post .inner .taxonomy .views a img {
    margin-right: 5px;
}

.video_post .inner:hover .screencast .play_btn {
    background-image: url(../scss/all/icons/play-btn-hover.png);
}

.video_post .inner:hover .post_data .post_title {
    color: #4aa3df;
}

/* modal detail course */

#detailCourseModal .infor-course {
    margin: 10 0;
}

#detailCourseModal .duration {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 12px;
    padding: 0 5px;
    display: block;
    line-height: 20px;
    background: #4aa3df;
    transition: all 300ms ease-in-out 0s;
}

#detailCourseModal .meta_info {
    font-size: 12px;
    color: #828a91;
    line-height: 18px;
}

/* modal add course */
.upload-videos {
    width: 50px;
    height: 50px;
    border: 5px dashed #dce0e2;
    color: #dce0e2;
    position: relative;
}

.upload-videos .chooseVideo {
    width: 100%;
    height: 100%;
}

.upload-videos .icon-upload{
    position: absolute;
    z-index: 1;
    width: 24px;
    height: 24px;
    font-size: 24px;
    background-position: center;
    background-size: cover;
    left: calc(50% - 12px);
    top: calc(50% - 12px);
}

#addCourseModal .ui-upLoading {
    margin-bottom: 10px
}