.card-previews {
    height: 32rem;
    padding-top: 2rem;
    overflow-x: hidden;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    max-width: 81.25em;
    border-bottom: 0.125rem solid #dadee0;
    height: 100%;
}

.card-previews #carousel-vocabulary{
    margin: auto;
    height: 100%;
    text-align: center;
}

.card-previews .carousel-inner {
    width: 50%;
    margin: auto;
}

.card-previews .carousel-inner .carousel-item{
    background-color: #fff;
    margin: auto;
    padding: 20px;
    height: 25rem;
    width: 100%;
    text-align: center;
}

.jumbotron {
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 15px;
    text-align: center;
}

.carousel-control-prev,
.carousel-control.left {
    background-image: none;
    color: #1ECBF4;
}

.control-flashcard {
    color: #97a5aa;
}

.previous-control {
    color: #3ccfcf;
    font-size: 35px;
    margin-right: 15px;
}

.next-control {
    color: #3ccfcf;
    font-size: 35px;
    margin-left: 15px;
}